[submodule "third-party/SQLiteCpp"]
	path = third-party/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "third-party/stb"]
	path = third-party/stb
	url = https://github.com/nothings/stb.git
[submodule "third-party/gzip-hpp"]
	path = third-party/gzip-hpp
	url = https://github.com/mapbox/gzip-hpp.git
[submodule "third-party/vector-tile-spec"]
	path = third-party/vector-tile-spec
	url = https://github.com/mapbox/vector-tile-spec.git
